body {
    font-family:monospace;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    display: flex;
    justify-content: space-around;
}

.reset-button {
    margin: 20px;
    font-size: medium;
    font-weight: 700;
    font-family:monospace;
}

.game-div {
    display: flex;

    align-items: center;
    border: solid;
    border-style: double;
    border-color: yellow;
    border-radius: 30px;
    border-width: 10px;
    padding: 0 50px 0 50px;
    margin: 20px;
}

.player-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leftside {
    height: 100px;
    width: 175px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: large;
    font-weight: 700;
    font-family:monospace;
}

.computer-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.rightside {
    height: 100px;
    width: 175px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: large;
    font-weight: 700;
    font-family:monospace;
}

.leftside-text, .rightside-text {

    font-size: large;
    font-weight: 700;
    font-family:monospace;
}

#game-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    padding: 20px;
    border: solid;
    border-color:blueviolet;
    border-radius: 30px;
    width: 600px;
    height: fit-content;
}

#versus-title {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 630px;
    height: 135px;
    border: solid;
    border-color: white;
    border-radius: 30px;

}

.versus-heading {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    padding: 20px;

}

#results-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.results-div {
    padding:10px;
    font-weight: 600;
    font-size: 16px;
}

#winner {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: red;
    font-weight: 700;
    border-style:solid;
    border-radius: 30px;
    padding: 20px;
    margin-top: 5px;
    height: 100px;
    width: 550px;
}

#player-character, #opponent-character {
    display: flex;
    flex-shrink: auto;
    max-width: 200px;
    border: solid;
    border-radius: 30px;
    height: 375px;
    width: 200px;
}

#player-character {
    border-color: blue;
}

#opponent-character {
    border-color: red;
}

/* Drop down menu CSS */
.hide {
    max-height: 0 !important;
}

.dropdown{

	border: 0.1em solid black;
	width: 10em;
	margin-bottom: 1em;
    width: fit-content;
}

.dropdown .title{
	margin: .3em .3em .3em .3em;	
    width: fit-content;
    border: solid;
    border-radius: 30px;
    border-color: blue;
    padding: 5px;
}

.dropdown .title .fa-angle-right{
	float: right;
	margin-right: .7em;
	transition: transform .3s;
}

.dropdown .menu{
	transition: max-height .5s ease-out;
	max-height: 20em;
	overflow: hidden;
}

.dropdown .menu .option{
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
}

.dropdown .menu .option:hover{
	background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
	cursor: pointer;
}

.rotate-90{
	transform: rotate(90deg);
}

/*Second dropdown */
.hide2 {
    max-height: 0 !important;
}


.dropdown2{
	border: 0.1em solid black;
	width: 10em;
	margin-bottom: 1em;
    width: fit-content;
}

.dropdown2 .title2{
	margin: .3em .3em .3em .3em;	
    width: fit-content;
    border: solid;
    border-radius: 30px;
    border-color: red;
    padding: 5px;
}

.dropdown2 .title2 .fa-angle-right2{
	float: right;
	margin-right: .7em;
	transition: transform .3s;
}

.dropdown2 .menu2{
	transition: max-height .5s ease-out;
	max-height: 20em;
	overflow: hidden;
}

.dropdown2 .menu2 .option2{
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
}

.dropdown2 .menu2 .option2:hover{
	background: rgba(0,0,0,0.2);
}

.pointerCursor2:hover{
	cursor: pointer;
}

.rotate-902{
	transform: rotate(90deg);
}