body {
    font-family:monospace;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    display: flex;
    justify-content: space-around;
}

.reset-button {
    margin: 20px;
    font-size: medium;
    font-weight: 700;
    font-family:monospace;
}

.game-div {
    display: flex;

    align-items: center;
    border: solid;
    border-style: double;
    border-color: yellow;
    border-radius: 30px;
    border-width: 10px;
    padding: 0 50px 0 50px;
    margin: 20px;
    height: 570px;
}

.player-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leftside {
    height: 100px;
    width: 175px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 28px;
    font-weight: 700;
    font-family:monospace;
    border-radius: 30px;
}

.leftside:hover {
    color: blue;
    background-color: rgb(253, 253, 156);
    border-color: blue;
    
}

.computer-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.rightside {
    height: 100px;
    width: 175px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 700;
    font-family:monospace;
    border-radius: 30px;
}

.rightside:hover{
    pointer-events: none;
}

.btn-highlight {
    background-color: rgb(253, 253, 156);
    border: solid;
    border-radius: 30px;
    border-color: yellow;
    -webkit-animation-name: cssAnimation;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes cssAnimation {
    from {
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    }
    to {
      -webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
    }
  }


.leftside-text, .rightside-text {

    font-size: large;
    font-weight: 700;
    font-family:monospace;
}

#game-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.results {
    padding: 20px;
    background-color: blueviolet;
    border: solid;
    border-color:blueviolet;
    border-radius: 30px;
    width: 600px;
    height: fit-content;
}

#versus-title {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 650px;
    height: 135px;
}

.versus-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    width: 250px;
    padding: 20px;
}


#results-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    border-radius: 30px;
}

#results-div-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 650px;
    font-size: 18px;

}

/*
.results-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    font-weight: 600;
}
*/

#winner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: red;
    font-weight: 700;
    padding: 20px;
    margin-top: 5px;
    height: 100px;
    width: 550px;
    height: 250px;
    font-size: 30px;
}

#left-side-panel {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
}

#right-side-panel {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: end;

}

#player-character, #opponent-character {
    display: flex;
    flex-shrink: auto;
    max-width: 200px;
    border: solid;
    border-radius: 30px;
    height: 375px;
    width: 200px;
    margin: 0 20px 20px 20px;
}

#player-character {
    border-color: blue;
}

#opponent-character {
    border-color: red;
}

/* Drop down menu CSS */
.hide {
    max-height: 0 !important;
}

.dropdown{

	border: 0.1em solid black;
	width: 10em;
	margin-bottom: 1em;
    width: fit-content;
    margin-left: 20px;
}

.dropdown .title{
    display: flex;
    justify-content: center;
	margin: .3em .3em .3em .3em;	
    width: 190px;
    border: solid;
    border-radius: 30px;
    border-color: blue;
    padding: 5px;
}

.dropdown .title .fa-angle-right{
	float: right;
	margin-right: .7em;
	transition: transform .3s;
}

.dropdown .menu{
	transition: max-height .5s ease-out;
	max-height: 20em;
	overflow: hidden;
}

.dropdown .menu .option{
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
}

.dropdown .menu .option:hover{
	background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
	cursor: pointer;
}

.rotate-90{
	transform: rotate(90deg);
}

/*Second dropdown */
.hide2 {
    max-height: 0 !important;
}


.dropdown2{
	border: 0.1em solid black;
	width: 10em;
	margin-bottom: 1em;
    width: fit-content;
    margin-right: 20px;
}

.dropdown2 .title2{
    display: flex;
    justify-content: center;
	margin: .3em .3em .3em .3em;	
    width: 190px;
    border: solid;
    border-radius: 30px;
    border-color: red;
    padding: 5px;
}

.dropdown2 .title2 .fa-angle-right2{
	float: right;
	margin-right: .7em;
	transition: transform .3s;
}

.dropdown2 .menu2{
	transition: max-height .5s ease-out;
	max-height: 20em;
	overflow: hidden;
}

.dropdown2 .menu2 .option2{
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
}

.dropdown2 .menu2 .option2:hover{
	background: rgba(0,0,0,0.2);
}

.pointerCursor2:hover{
	cursor: pointer;
}

.rotate-902{
	transform: rotate(90deg);
}